body.home-page{
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 100px;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;

  }
}

.event_image {
  position:relative;
  padding: 20px;
  width: 90%;
  max-width: 650px;

}

@media (min-width: 768px) {
  .event_image {
    width: 60%;
    margin-right: 20px;
    margin-bottom: 0;
    flex-direction: row;

  }
}

.event_image img {
  border-radius: 15px;
  width: 90%;
  height: auto;
}

.content {
 
  margin: 0;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 20px;
  border-radius: 15px;
  max-width: 50%;
  height: fit-content;
  align-items: center;
}

.titulo {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 22px;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff4081;
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  background: linear-gradient(to right, #333399, #ff00cc);
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  text-align: center;
}

.btn:hover {
  background-color: #03254d;
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
               0 0 20px rgba(0, 26, 255, 0.2),
               0 0 30px rgba(0, 0, 255, 0.4);
  background: linear-gradient(to right, #c91212, #0011ff, #0b0b52);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
               0 0 20px rgba(0, 26, 255, 0.2),
               0 0 30px rgba(0, 0, 255, 0.4);
  background: linear-gradient(to right, #08d4b9, #277503, #31eb03);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-item {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .gallery-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
  }
}

.gallery-item img {
  border-radius: 100px;
  width: 100%;
  height: auto;
}

.event-details {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
  margin-top: 0.5%;
  margin-bottom: 2%;
  padding: 20px;
  border-radius: 20px;
}

.event-details-overlay {
  display: flex;
  align-items: center;
  padding: 20px;
}

.event-details-content {
  text-align: center;
}

.event-details-content h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
               0 0 20px rgba(255, 0, 255, 0.2),
               0 0 30px rgba(0, 0, 255, 0.4);
  background: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .event-details-content h2 {
    font-size: 5rem;
  }
}

.event-details-content p {
  color: white;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .event-details-content p {
    font-size: 3rem;
  }
}

.stands {
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

@media (min-width: 768px) {
  .stands {
    flex-direction: row;
    justify-content: center;
  }
}

.stands img {
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .stands img {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.stand-info {
  color: white;
}

.stand-info h3 {
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
               0 0 20px rgba(255, 0, 255, 0.2),
               0 0 30px rgba(0, 0, 255, 0.4);
  background: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .stand-info h3 {
    font-size: 40px;
  }
}

.stand-info p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .stand-info p {
    font-size: 30px;
  }
}

.stand-info ul {
  list-style: none;
  padding: 0;
}

.stand-info ul li {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .stand-info ul li {
    font-size: 30px;
  }
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
